<% if user_signed_in? %>
    <h3>Welcome to Panel Moderation <%=current_user.email%> <%=current_user.role%></h3>
    <% if current_user.role == "user" %>
        Hi User! Submit a question:
            <%= form_for @question, url: {action:"create"} do |f| %>
                <%= f.text_area :value %>
                <%= f.submit "Submit a question" %>
            <% end %>
    <% elsif current_user.role == "vip" %>
        Hi Moderator! 

    <% end %>
    <hr>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
    <h3>Welcome to Panel Moderation, please login</h3>
    <li>
        <%= link_to('Login', users_path)  %>  
    </li>
<% end %>
